## MySQL数据库
1. mysql  
    打开：mysql -uroot -p  
2. mongo  
    打开：mongo  
3. redis  
    redis -cil  
    
创建MySQL库

    create database if not exists name;  
删除库  

    drop database if exists name;  
进入库  

    use databasename;
    
创建表格  

    create table tablename(name varchar(20),age tinyint,sex enum('m','f'));指明字段名字和类型  
删除表格  

    drop table name;  
表格内容增加  

    insert into tablename values(),();  
    insert into tablename(condition) value(value);  
表格内容删除  

    delete from tablename where condition;  
表格内容修改  

    update tablename set name='',age='' where condition;    修改搭配where 否则就将全部的修改了
表格内容查询 

    select * from tablename where condition;  
    
修改数据类型  

    alter table tablename modify age tinyint;  
显示表格信息  

     desc tablename;  
    
筛选条件

1. 比较运算符

    =,<=,>=,<,>
2. 逻辑运算符  

    not;and ;or  
排序  

    order by condition 正序  
    order by condition desc反序  
限制显示  

    limit num; 显示num前几条  
    limit num1，limit num2；  
去重  

    select distinct * from student;  指定字段 distinct condition 1,dondition2   
    
模糊查询  
   like %  
    
    select * from student where name like 'x%';   %全部，\_表示只模糊一个字符  
   like _ 
    
    select * from student where id >=2 and id <=5;
   between  
   
    select * from student where id between 2 and 6;
   in  
   
    select * from student where name in('','','');
    
聚合与分组  

    count()统计，max()最大值，sum()求和，avg()平均值
   
    select count(age) from student;  不包含空值
   复合求值
   
    select count(age)，max(age),avg(age) from student;
   group_concat()
     
     select age from student; 包含空值
     select group_concat(age) from student;  不包含空值
     
   分组查询   
   
     select class from student group by class;  分组字段名字和选择字段名字一定要相同
     select class, group_concat(name) from student group by class;
   聚合筛选  ——先执行where，在执行聚合函数，最后执行having
   
     select class,avg(age) from student group by class having class <= 2; 第二次筛选班级小于等于2
     select class,avg(age) from student where id <=4 group by class having class <= 2; 第一次筛选为id小于等于4，然后分组，再第二次筛选班级小于等于2
     select class,avg(age) as aa from student where id <=4 group by class having class <= 2  as aa 是别名
     
   子查询——嵌套查询  
   
    将一个的查询结果放在另一个查询命令里
   内连接 
   
    join:无条件内连接，又名交叉连接/笛卡尔连接，第一张表种的每一项会和另一张表的每一项依次组合,一般不会用
    select * from student join tablename2 on condition;  condition = student.id = tablename2.id id相同的才可以连接
    两个表格里只有完全一样的才可以连接，一张表里有另一张没有就不会显示
   外连接  
   
    左外连接—以左表为基准，当连接条件不完全匹配的时候，留下左表中的数据，右表中不存在的数据填充null
    select * from student left join tablename2 on condition;  condition = student.id = tablename2.id
    
   表结构的修改  
   
    修改表名 
    alter table tablename rename to newtablename;  
    修改字段名  
    alter table tablename change rowname newrowname numtype;  
    修改字段类型  
    alter table tablename modify rowname type;  
    添加字段  
    alter table tablename add rowname type;  
    删除字段  
    alter table tablename drop rowname type;  
   约束条件  
   
    默认约束 default
    insert into tablename values(default,default,num);
    非空约束  not null,与默认值配合使用
    alter table tablename modify id int not null default 0;  需要同时加入条件，否则会是默认的接受null
    唯一约束 key 限定字段的值不能重复  
    create table tb (id int unique key,name varchar(20));
    主键约束  primary key  不能为空，不能重复，每张表里只能有一个主键  
    create table tb (id int primary key,name varchar(20));  
    自增长约束auto_increment  自动编号，和主键一起使用,一张表里只能由一个自增长  
    外键约束  foreign key 联系两张表，保持数据的一致性  
    CREATE TABLE tablenameb(id_b int primary key,name varchar(20),FPREIGN KEY(id_b)REFERENCES tablenamea(id_a));a表里有的b表里才可以有
    删除的话，要先删除子表，在删除母表
   表关系  
   
    一对一  学生详情，设置主键，外键关联 foreign key (s_id) references (s_id)
    一对多  
    多对多  中间一个表格来绑定其他的两个表格，利用联合主键 primary key(s_id,cou_id)
## redis 数据库
redis-cli  进入命令
存储在内存中，存储方式是json，键值对的存储，用途一般在 淘宝，天猫，股票
    数据类型 
     
    key只能是字符串
    select index  选择库
    key * 查看所有值
    set key value
    get key  查看一个key的value
    append key value   追加同key不会覆盖，原有的是v1，追加内容是v2，追加之后的内容是v1v2
    del key 删除
    exists key 查看key是否存在，存在返回1
    rename oldkey newkey
    expire key seconds  设置过期时间，自动删除
    ttl key 查看剩余时间
    persist key 删除过期时间
    
   list类型  
   
     添加数据
     rpush list_a value 从右边往list_a里放数据
     lpush list_a value 从左边存放 
     查看数据
     lindex list_a 3
     rindex list_a 3
     修改数据
     lset list_a 3 value 修改索引3 改成value
     删除数据
     rpop list_a  从右边每次删除一个
     lrem list_a index value
   hash类型  是一个键值对集合，是string类型的field和value的映射表  
    
    添加数据
    hset hash_a a 1
    hmset hash_a a 1 b 2  插入多个输入m
    查看数据
    hget hash_a a
    hgetall hash_a  查看所有
    修改数据
    hset hash_a name value 有则改，无则增
    拿values 
    hvals hash_a
    拿fileds
    hkeys hash_a
   set类型  集合无序唯一的   ，不可修改  
   
    添加数据
    sadd set_a ‘hello world’ 此为一个元素
    查看所有元素
    smembers set_a
    删除数据
    spop set_a 随机删除
    srem set_a value 指定删除
   sorted set类型  
    
    添加数据
    zadd zset_a filed value
    查看数据
    zrange zset_a 0 10 查看0到10之间的
    zrangebyscore zset_a min max  通过分数查看
    删除数据
    zrem zset_a value
    zrem zset_a value1 value2 value3
    zremrangebyrank zset_a 2 3 删除索引2至3
   
## mongodb数据库
   介于关系型和非关系型之间
   网络时代要求实时快速和定时，需要使用redis
   

    
    将数据存储为一个文档，文档类似json格式
    mongodb数据模型
   库
   
    进入mongo  mongo
    显示库 show dbs
    显示当前库 db
    删除库
    db.dropDatabase()
   集合  
   
    创建集合
    db.createCollection('student')  可以结合插入数据而省略
    删除集合
    db.student.drop()
    插入数据
    db.stu.insert({name;'bai',age:16})  多条数据放置列表里
    运算符
    逻辑符
    重写数据
    db.stu.update({age:21},{age:26}) 是重写，非修改
    指定属性修改
    db.stu.update({age:15}.{$set:{age:18}})  单个  
    
    
    db.stu.update({age:15}.{$set:{age:18}},{multi:true})  多个更改  
     删除————是全部删除
     db.stu.remove({age:19},{justOne:ture})  删除第一条
     删除所有文档
     db.stu.remove({})